{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block scripts%}
{{super()}}
{{moment.include_moment()}}
{{ moment.lang('zh-cn') }}
{%endblock%}

{%block page_content%}
<form class="form" name="form" method="POST" action="">
    {{form.keyword(placeholder="Spec")}}
    {{form.username(placeholder="Name")}}
    {{form.submit(type="submit")}}
</form>
<div>
    <table class="inventory">
        <tr>
            <th>P/N</th>
            <th>Spec</th>
            <th>Size</th>
            <th>QTY</th>
            <th>Customer</th>
            <th>Time</th>
            <th>By</th>
        </tr>
        {%for i in records%}
            <tr>
                <th>{{i.pn}}</a></th>
                <th>{{i.spec}}</th>
                <th>{{i.size}}</th>
                <th>{{i.qty}}</th>
                <th>{{i.customer_name}}</th>
                <th>{{moment(i.take_time).format('LL')}}</th>
                <th>{{i.username}}</th>
            </tr>
        {%endfor%}
    </table>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.taked',search) }}
</div>
{% endif %}
{% endblock %}
